.rating-good,
.rating-ok,
.rating-bad {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;

  &::before {
    font-size: 2rem;
    line-height: 1;
  }
}

.rating-good {
  color: #198754;

  &::before {
    content: "🤩";
  }
}

.rating-ok {
  color: #ffc107;

  &::before {
    content: "🙂";
  }
}

.rating-bad {
  color: #dc3545;

  &::before {
    content: "💩";
  }
}
