<h4>Mettre à jour le film : {{ originalTitle }}</h4>

<div class="form d-flex flex-column w-50">
  <label for="title">Titre</label>
  <input type="text" id="title" name="title" [(ngModel)]="movie.title" />

  <label for="director">Réalisateur</label>
  <input type="text" id="director" name="director" [(ngModel)]="movie.director" />

  <label for="release-date">Date de sortie</label>
  <input type="date" id="release-date" name="release-date" [(ngModel)]="releaseDate" />

  <label for="synopsis">Synopsis</label>
  <textarea id="synopsis" name="synopsis" [(ngModel)]="movie.synopsis"></textarea>

  <label for="image">Image du film</label>
  @if (currentImageUrl && !imagePreview) {
    <div class="image-preview">
      <p>Image actuelle:</p>
      <img [src]="currentImageUrl" alt="Image actuelle du film" />
    </div>
  }
  @if (imagePreview) {
    <div class="image-preview">
      <p>Nouvelle image:</p>
      <img [src]="imagePreview" alt="Aperçu de l'image" />
    </div>
  }
  <input type="file" id="image" name="image" accept="image/*" (change)="onFileSelected($event)" />

  <button class="btn btn-dark" (click)="updateMovie()">Mettre à jour</button>
</div>
